{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <h4>{{ sid_text }}{{ sid }}</h4>
{#        <h4>Original text entries:</h4>#}
{#        <p>Entered user name: {{ username }}</p>#}
{#        <p>Entered user age: {{ userage }}</p>#}
{#        <p>Entered password: {{ password }}</p>#}
{#        <p>Entered email: {{ email }}</p>#}
{#        <p>Entered dietary requirements: {{ requirements }}</p>#}

        <h4>Cleaned text entries:</h4>
        <p>Entered user name: {{ sanitised_username }}</p>
{#        <p>Entered user age: {{ validated_userage }}</p>#}
        <p>Entered password: {{ cleaned_password }}</p>
{#        <p>Entered email: {{ sanitised_email }}</p>#}
{#        <p>Entered requirements: {{ sanitised_requirements }}</p>#}

{#        <h4>Hashed password:</h4>#}
{#        <p>NB The password was hashed with the BCrypt library</p>#}
{#        <p>Hashed password: {{ hashed_password }}</p>#}

{#        <h4>Encrypted text entries:</h4>#}
{#        <p>Encrypted user name: {{ encrypted_username }}</p>#}
{#        <p>Encrypted user age: {{ encrypted_userage }}</p>#}
{#        <p>Encrypted email: {{ encrypted_email }}</p>#}
{#        <p>Encrypted requirements: {{ encrypted_requirements }}</p>#}

        <h4>Base64 Encoded strings from the encrypted entries:</h4>
        <p>Encoded user name: {{ encoded_username }}</p>
        <p>Encoded user age: {{ encoded_userage }}</p>
{#        <p>Encoded email: {{ encoded_email }}</p>#}
{#        <p>Encoded requirements: {{ encoded_requirements }}</p>#}

        <h4>Storage results:</h4>
        <p>{{ storage_result }}</p>

        <p class="curr_page"><a href="{{ landing_page2 }}">go to telemetry daya</a></p>
        <p class="curr_page"><a href="{{ landing_page }}">Home</a></p>
    </div>
{% endblock %}
